:root {
    --primary: #e07a5f;
    --secondary: #f4f1de;
    --action: #0077B6;
    --black: #494947;
    --white: #FAFAFA;
    --gray: #C1C1C1;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    font-size: 36px;
}

h2 {
    color: var(--black);
}

label {
    color: var(--black);
    margin: 0px;
}

input {
    box-sizing: border-box;
}

button {
    padding: 7px 20px;
    border: 2px solid var(--white);
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--white);
    text-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

.btn {
    padding: 5px 20px;
    border: 1px solid var(--gray);
    border-radius: 15px;
    color: var(--black);
    cursor: pointer;
}

.txt-primary {
    color: var(--primary);
}

.txt-white {
    color: var(--white);
}

.txt-gray {
    color: var(--gray);
}

.body-in_center {
    justify-content: center;
}

.faded {
    opacity: 0.5;
}

.sign-container {
    border: 1px solid var(--gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    margin: 16px 0px;
    width: 360px;
    box-sizing: border-box;
}

.sign-title {
    text-weight: normal;
    margin: 0px 0px 32px 0px;
}

.sign-input {
    border-radius: 5px;
    border: 1px solid var(--gray);
    width: 100%;
    padding: 5px 12px;
    box-sizing: border-box;
}

.sign-label {
    align-self: flex-start;
    margin-bottom: 2px;
}

.sign-column-div {
    display: flex;
    align-self: center;
    padding: 0px;
    margin: 0px 0px 15px 0px;
    flex-direction: column;
    width: 100%;
}

.sign-row-div {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.sign-checkbox {
    margin: 0px 5px 0px 0px;
}

.sign-btn {
    border-radius: 5px;
    width: 100%;
    padding: 5px 12px;
    color: var(--white);
    box-sizing: border-box;
    margin: 20px 0px 0px 0px;
}

.sign-btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    padding: 5px 12px;
    color: var(--white);
    background-color: var(--action);
    box-sizing: border-box;
    text-decoration: none;
}

.sign-error {
    margin-top: 2px;
}

.top-lane {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    margin: 0px;
    background-color: var(--primary);
    padding: 10px 0px;
}

.top-lane-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 1100px;
    height: 100%;
}

.top-lane-account {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-body {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.nav-container {
    padding: 5px 0;
    box-sizing: border-box;
    margin: 5px 0px;
}

.nav-button {
    padding: 4px 15px;
    border: 1px solid var(--white);
    border-color: var(--white);
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--white);
    text-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}

.nav-btn-clicked {
    background-color: var(--white);
    color: var(--primary);
}

.btn-action {
    background-color: var(--action);
    color: var(--white);
}

.category-container {
    display: flex;
    background-color: var(--secondary);
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 20px 40px;
}

.cat-new-container {
    width: 320px;
}

.category-container:hover {
    transform: scale(1.05);
}

.cat-btn-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.cat-img {
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

.equipment-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eq-container {
    display: flex;
    width: 730px;
    margin: 15px 0px 5px 10px;
    flex-direction: row;
    border: 2px solid var(--gray);
    border-radius: 10px;
    padding: 20px;
    align-items: flex-start;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.eq-container:hover {
    transform: scale(1.02);
}

.eq-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.eq-quantity {
    color: var(--gray);
    float: right;
    margin-left: auto;
}

.eq-bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.ghost-div {
    background: var(--white);
    height: 1px;
    width: 1px;
}

.eq-btn {
    padding: 4px 20px;
    border: 1px solid var(--action);
    border-radius: 15px;
    color: var(--white);
    cursor: pointer;
    background: var(--action);
}

.eq-price {
    color: var(--action);
    margin: 0px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex;
}

.modal-window {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    padding: 32px;
}

.modal-btn {
    border-radius: 5px;
    padding: 5px 12px;
}

.plus-icon {
    font-size: 64px;
    color: var(--gray);
    text-align: center;
}

.plus-container {
    display: flex;
    flex-direction: column;
}

.modal-image-div {
    display: flex;
    width: 100%;
    height: 480px;
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0px;
}

.modal-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal-input {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 5px 12px;
    margin-bottom: 10px;
}

.filter-body {
    width: 370px;
    margin: 10px;
}

.filter-container {
    border: 2px solid var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding 10px 10px;
    align-items: center;
}

select {
    border: 1px solid var(--gray);
    border-radius: 15px;
    padding: 5px;
    width: 100%;
}

.filter-label {
    width: 90%;
    margin: 15px 0px 5px 0px;
}

.filter-input {
    width: 90%;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.filter-divider {
    width: 90%;
    height: 1px;
    background: var(--gray);
}

.filter-price-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.filter-checkbox {
    margin-right: 5px;
    cursor: pointer;
}

.filter-input-price {
    display: flex;
    width: 42%;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.filter-price-label {
    display: flex;
    color: var(--gray);
    margin: 0px 5px;
    align-items: center;
}

.filter-btn {
    background: var(--action);
    margin: 20px 0px;
    font-size: 14px;
    color: var(--white);
}

.res-container {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid var(--gray);
    width: 760px;
    margin: 10px 0px;
}

.res-input {
    border-radius: 5px;
    border: 1px solid var(--gray);
    width: 200px;
    padding: 5px 12px;
    box-sizing: border-box;
    margin-top: 5px;
}

.res-label {
    margin: 5px 0px;
}

.res-btn-div {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.res-search-div {
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.res-select {
    width: 200px;
}