<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="#{add_equipment_btn}"></title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div class="top-lane">
  <div class="top-lane-section">
    <h1 class="txt-white">Kategorie</h1>
    <div class="nav-container">
      <button>Kategorie</button>
      <button>Moje rezerwacje</button>
    </div>
  </div>
</div>
<div class="center-body">

  <div class="category-container" onclick="showModal()">
    <div class="plus-container">
      <i class="bi bi-plus-lg plus-icon"></i>
      <h2>Dodaj kategorię</h2>
    </div>
  </div>

  <div th:each="category : ${categories}" class="category-container">
    <label th:text="${category.name}"></label>
  </div>
</div>

<div id="modal" class="modal-overlay" onclick="hideModal()">
  <form th:action="@{/category_add}" method="post">
    <div class="modal-window" onclick="event.stopPropagation();">
      <div class="modal-image">
      </div>
      <input type="text" name="name" placeholder="Nazwa kategorii">
      <button onclick="hideModal()">Dodaj kategorię</button>
    </div>
  </form>
</div>

<script>
  function showModal() {
        const modal = document.getElementById('modal');
        modal.classList.add('active');
    }

    function hideModal() {
        const modal = document.getElementById('modal');
        modal.classList.remove('active');
    }
</script>

</body>
</html>