<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<h2>Strona główna</h2>
<a th:href="@{/categories}" class="btn btn-primary" th:text="#{add_equipment_btn}"></a>
<a th:href="@{/equipment_types}" class="btn btn-primary" th:text="#{add_eq_type_btn}"></a>
<ul>
    <li th:each="category : ${categories}" th:text="${category.name}"></li>
</ul>
<ul>
    <li th:each="equipment : ${equipment}">
        <label th:text="${equipment.name}"></label>
        <label th:text="${equipment.price}"></label>
    </li>
</ul>
</body>
</html>