<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{res_title}"></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="top-lane">
    <div class="top-lane-section">
        <h1 class="txt-white" th:text="#{res_title}"></h1>
        <div class="nav-container">
            <a th:href="@{/categories}" class="btn btn-primary" th:text="#{eq_redirect_cat}"></a>
            <button th:text="#{eq_redirect_res}"></button>
        </div>
    </div>
    <div class="top-lane-account">
        <a th:if="${user == null}" th:href="@{/sign_in}" class="btn btn-primary" th:text="#{eq_btn_sign_in}"></a>
        <div th:if="${user != null}">
            <a th:ref="@{/logout}" th:text="#{eq_btn_logout}"></a>
        </div>
    </div>
</div>
<div class="center-body">
    <div class="equipment-body">
        <div class="equipment-container" th:each="reservation : ${reservationList}">
            <div style="display: flex; flex-direction: column;">
                <label th:text="'ID: ' + ${reservation.reservationID}"></label>
                <label th:text="#{res_status} + ${reservation.status}"></label>
                <label th:text="#{res_reservationDate} + ${reservation.reservationDate}"></label>
                <label th:text="#{res_pickupDate} + ${reservation.pickupDate}"></label>
                <label th:text="#{res_returnDate} + ${reservation.returnDate}"></label>
                <label>Quantity:</label>
                <label>Cost:</label>
                <label>Days to pickup/return:</label>
                <label>Name/surname of the customer (ADMIN):</label>
            </div>
            <div th:if="${user.role == 'ADMIN'}">
                <form id="statusForm" enctype="multipart/form-data" method="POST" action="/reservations/change-status">
                    <input type="hidden" id="hiddenMethod" name="_method" value="PUT">
                    <input type="hidden" name="reservationID" th:value="${reservation.reservationID}">

                    <button th:if="${reservation.status == 'RESERVED'}" th:text="#{res_btn_pickup}" name="status" value="IN_USE" type="submit"></button>
                    <button th:if="${reservation.status == 'IN_USE'}" th:text="#{res_btn_return}" name="status" value="RETURNED" type="submit"></button>
                    <button th:if="${reservation.status != 'CANCELLED' and reservation.status != 'RETURNED'}" th:text="#{res_btn_cancel}" name="status" value="CANCELLED" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>