<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sign_in_title}">Logowanie</title>
</head>
<body>
    <h2 th:text="#{sign_in_title}">Logowanie</h2>
<div>
    <label th:text="#{username}">Login</label>
    <input type="text" name="username">
</div>
<div>
    <label th:text="#{password}">Hasło</label>
    <input type="password" name="password">
</div>
<a th:href="@{/home}" class="btn btn-primary" th:text="#{log_in}">Zaloguj się</a>
    <div>
        <a th:href="@{/sign_up}" class="btn btn-primary" th:text="#{register_redirect_btn}">Nie masz konta? Zarejestruj się</a>
    </div>
<div>

</div>
</body>
</html>